* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  color: white;
  font-size: 1.6rem;
  background-color: rgb(39, 38, 38);
}

h1 {
  margin: 5rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}


.card {
  height: 25rem;
  width: 18rem;
  margin: 15px;
  padding: 15px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  border: 4px solid rgb(4, 164, 192);
  background-color: rgb(58, 58, 58);
  border-radius: 15px;
  
  transition: all 0.2s 0.1s ease;
}


.card .rank {
  position: absolute;
  top: 5%;
  left: 10%;
}

.card:hover {
  filter: brightness(1.3);
}

.imgContainer img {
  height: 8rem;
}

.card:nth-child(1) {
  border-color: #c5af33;
  background-color: #c5af33;
  color:rgb(39, 38, 38);
  font-weight: 600;
}

.card:nth-child(2) {
  border-color: #acacac;
  background-color: #acacac;
  color:rgb(39, 38, 38);
  font-weight: 600;
}

.card:nth-child(3) {
  border-color: #c4772a;
  background-color: #c4772a;
  color:rgb(39, 38, 38);
  font-weight: 600;
}